{% extends 'base.html' %}
{% block title %}Edit Post!{% endblock %}

{% block content %}
<form class="form-signup" method="POST" action="/post/edit/{{post.id}}">
    <h1 class="text-center">Edit Post: {{post.title}}</h1>

    <div class="firstname">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{post.title}}">
    </div>

    <div class="lastname">
        <label for="content">Post Body:</label>
        <input type="text" name="content" id="content" value="{{post.content}}"></input>
    </div>

    <div class="login-actions">
        <button class="btn">Confirm</button>
        <a href="/user/{{post.user_id}}" class="btn">Cancel</a>
    </div>
</form>
{% endblock %}