{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form class="form-signup" method="POST" action="/sign-up">

    <div class="firstname">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname">
    </div>

    <div class="lastname">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname">
    </div>

    <div class="url">
        <label for="profile-pic">Url:</label>
        <input type="text" name="profile-pic" id="profile-pic">
    </div>

    <div class="username">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </div>

    <div class="password">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>

    <div class="login-actions">
        <button class="btn">Signup</button>
        <a href="/" class="btn">Cancel</a>
    </div>
</form>
{% endblock %}