{% extends 'base.html' %}
{% block title %} User Profile: {{user.username}} {% endblock %}

{% block content %}
<section class="profile">
    <h1>Username: {{user.username}}</h1>
    <div class="container">
        <img class="profile-pic" src="{{user.url}}" alt="{{user.username}} profile picture">
        <div class="user-info">
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <div class="action-btns">
                <a class="btn" href="/user/{{user.id}}/edit">Edit</a>
                <a class="btn danger" href="/user/{{user.id}}/delete">Delete</a>
            </div>
        </div>
    </div>
</section>
<h2 class="text-center text-white">My Posts:</h2>
{% for post in posts %}
<section class="profile-post my-2">
    <a class="posts" href="/post/edit/{{post.id}}">
        <h2 class="post-title text-center">{{post.title}}</h2>
    </a>
    <div class="action-btn-post">
        <a href="/post/edit/{{post.id}}" class="btn">Edit</a>
        <a href="/post/delete/{{post.id}}" class="btn danger">Delete</a>
    </div>
</section>
{% endfor %}
{% endblock %}